---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999793'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 00:44:00
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0aaa51a2ed3da3a9d8a0735893064374
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713919316,"localtime":"2024-04-24
        2:41"},"current":{"last_updated_epoch":1713918600,"last_updated":"2024-04-24
        02:30","temp_c":5.0,"temp_f":41.0,"is_day":0,"condition":{"text":"Light rain","icon":"//cdn.weatherapi.com/weather/64x64/night/296.png","code":1183},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":260,"wind_dir":"W","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.54,"precip_in":0.02,"humidity":87,"cloud":75,"feelslike_c":2.6,"feelslike_f":36.8,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":16.3,"gust_kph":26.3},"forecast":{"forecastday":[{"date":"2024-04-24","date_epoch":1713916800,"day":{"maxtemp_c":8.1,"maxtemp_f":46.6,"mintemp_c":3.5,"mintemp_f":38.2,"avgtemp_c":5.7,"avgtemp_f":42.3,"maxwind_mph":14.1,"maxwind_kph":22.7,"totalprecip_mm":7.98,"totalprecip_in":0.31,"totalsnow_cm":0.0,"avgvis_km":8.8,"avgvis_miles":5.0,"avghumidity":84,"daily_will_it_rain":1,"daily_chance_of_rain":96,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":3.0},"astro":{"sunrise":"06:18
        AM","sunset":"08:43 PM","moonrise":"09:43 PM","moonset":"06:15 AM","moon_phase":"Full
        Moon","moon_illumination":100,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713909600,"time":"2024-04-24
        00:00","temp_c":5.3,"temp_f":41.6,"is_day":0,"condition":{"text":"Light drizzle","icon":"//cdn.weatherapi.com/weather/64x64/night/266.png","code":1153},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":259,"wind_dir":"W","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.49,"precip_in":0.02,"snow_cm":0.0,"humidity":90,"cloud":100,"feelslike_c":2.0,"feelslike_f":35.7,"windchill_c":2.0,"windchill_f":35.7,"heatindex_c":5.3,"heatindex_f":41.6,"dewpoint_c":3.9,"dewpoint_f":39.0,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":2.0,"vis_miles":1.0,"gust_mph":13.4,"gust_kph":21.6,"uv":1.0},{"time_epoch":1713913200,"time":"2024-04-24
        01:00","temp_c":5.2,"temp_f":41.3,"is_day":0,"condition":{"text":"Light drizzle","icon":"//cdn.weatherapi.com/weather/64x64/night/266.png","code":1153},"wind_mph":7.8,"wind_kph":12.6,"wind_degree":303,"wind_dir":"WNW","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.75,"precip_in":0.03,"snow_cm":0.0,"humidity":95,"cloud":100,"feelslike_c":2.4,"feelslike_f":36.2,"windc[...]
