---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999961'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/21/2024 23:15:13
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c7ed253c8cf91ab95cfe530fed76b6ec
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713741319,"localtime":"2024-04-22
        1:15"},"current":{"last_updated_epoch":1713741300,"last_updated":"2024-04-22
        01:15","temp_c":2.0,"temp_f":35.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1025.0,"pressure_in":30.27,"precip_mm":0.0,"precip_in":0.0,"humidity":75,"cloud":0,"feelslike_c":-0.1,"feelslike_f":31.7,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":8.1,"gust_kph":13.0},"forecast":{"forecastday":[{"date":"2024-04-22","date_epoch":1713744000,"day":{"maxtemp_c":8.9,"maxtemp_f":47.9,"mintemp_c":2.6,"mintemp_f":36.6,"avgtemp_c":5.9,"avgtemp_f":42.6,"maxwind_mph":10.5,"maxwind_kph":16.9,"totalprecip_mm":1.38,"totalprecip_in":0.05,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":3.0},"astro":{"sunrise":"06:22
        AM","sunset":"08:40 PM","moonrise":"07:16 PM","moonset":"05:52 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":96,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713736800,"time":"2024-04-22
        00:00","temp_c":4.2,"temp_f":39.6,"is_day":0,"condition":{"text":"Partly Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":16,"wind_dir":"NNE","pressure_mb":1025.0,"pressure_in":30.28,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":61,"cloud":49,"feelslike_c":2.1,"feelslike_f":35.8,"windchill_c":2.1,"windchill_f":35.8,"heatindex_c":4.2,"heatindex_f":39.6,"dewpoint_c":-2.7,"dewpoint_f":27.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":9.4,"gust_kph":15.1,"uv":1.0},{"time_epoch":1713740400,"time":"2024-04-22
        01:00","temp_c":2.0,"temp_f":35.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1025.0,"pressure_in":30.27,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":0,"feelslike_c":2.1,"feelslike_f":35.7,"windchill_c":2.1,[...]
