---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=italian&latitude=39.74001&limit=1&longitude=-105.99202&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YELP_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2024-04-25T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-59868f95f7-6w27h; site=public_api_v3
      X-Tracing-Auth:
      - AMTYCfMRlwimkxf254U7YamNKwHxrypY3U_KBq7lyxk
      Ratelimit-Dailylimit:
      - '300'
      Ratelimit-Remaining:
      - '296'
      X-Zipkin-Id:
      - 9d799480204328fe
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-109-27-useast1aprod
      X-Extlb:
      - 10-65-109-27-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "xK4AUhlRIknwSyFjdg8vpg", "alias": "radicato-breckenridge",
        "name": "Radicato", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/Vze_u8c_OmP2SNmVpm3bug/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/radicato-breckenridge?adjust_creative=G-Nla0_yczgSPAhUnsNggQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=G-Nla0_yczgSPAhUnsNggQ",
        "review_count": 107, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "salad", "title": "Salad"}, {"alias": "pastashops", "title": "Pasta
        Shops"}], "rating": 4.8, "coordinates": {"latitude": 39.48079, "longitude":
        -106.04645}, "transactions": [], "location": {"address1": "137 S Main St",
        "address2": null, "address3": "", "city": "Breckenridge", "zip_code": "80424",
        "country": "US", "state": "CO", "display_address": ["137 S Main St", "Breckenridge,
        CO 80424"]}, "phone": "+19704530989", "display_phone": "(970) 453-0989", "distance":
        29199.96869672775, "attributes": {"business_temp_closed": null, "menu_url":
        "https://www.radicatobreck.com/dinner", "open24_hours": null, "waitlist_reservation":
        null}}], "total": 25, "region": {"center": {"longitude": -105.99202, "latitude":
        39.74001}}}'
  recorded_at: Wed, 24 Apr 2024 00:43:47 GMT
recorded_with: VCR 6.2.0
