---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?key=MAP_QUEST_KEY&limit=5&q=the%20lord%20of%20the%20ring
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.960 TT 0 1.061"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 850,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_alternative_name": [
                        "Yue Han Luo Na De Rui Er Tuo Er Jin",
                        "J. R. R. Tolkien",
                        "John Ronald Reuel Tolkien",
                        "John R. R. Tolkien",
                        "Dzhon R. R. Tolkin",
                        "Tolkien"
                    ],
                    "author_key": [
                        "OL26320A"
                    ],
                    "author_name": [
                        "J.R.R. Tolkien"
                    ],
                    "contributor": [
                        "Rob Inglis (Narrator)",
                        "Dramatization (Narrator)",
                        "Lee, Alan.",
                        "Tanaka, Akiko.",
                        "Lee, Alan, 1947-",
                        "Tolkien, J. R. R. 1892-1973.",
                        "Ian Holm (Narrator)",
                        "Brian Sibley (Narrator)",
                        "Rob Inglis (Narrator, Reader)",
                        "Ko\u0159\u00ednek, Otakar, 1946-",
                        "Seta, Teiji, 1916-"
                    ],
                    "cover_edition_key": "OL21058613M",
                    "cover_i": 9255566,
                    "ddc": [
                        "823.914",
                        "823.91",
                        "823.912"
                    ],
                    "ebook_access": "borrowable",
                    "ebook_count_i": 17,
                    "edition_count": 159,
                    "edition_key": [
                        "OL49215435M",
                        "OL43069225M",
                        "OL37015716M",
                        "OL31867423M",
                        "OL31462764M",
                        "OL32531171M",
                        "OL35446040M",
                        "OL34777192M",
                        "OL34167892M",
                        "OL33915836M",
                        "OL32225404M",
                        "OL17063250M",
                        "OL33[...]
