---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999969'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/21/2024 21:35:47
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - fe8ed736fdcf5a9e20e1a6a69371d80d
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713735227,"localtime":"2024-04-21
        23:33"},"current":{"last_updated_epoch":1713735000,"last_updated":"2024-04-21
        23:30","temp_c":2.0,"temp_f":35.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1025.0,"pressure_in":30.27,"precip_mm":0.0,"precip_in":0.0,"humidity":80,"cloud":0,"feelslike_c":-0.4,"feelslike_f":31.3,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":9.1,"gust_kph":14.6}}'
  recorded_at: Sun, 21 Apr 2024 21:35:47 GMT
recorded_with: VCR 6.2.0
