---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999793'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 00:44:00
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 4f8e4473ae1c3c74e5fab8971d374930
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713919440,"localtime":"2024-04-24
        2:44"},"current":{"last_updated_epoch":1713918600,"last_updated":"2024-04-24
        02:30","temp_c":5.0,"temp_f":41.0,"is_day":0,"condition":{"text":"Light rain","icon":"//cdn.weatherapi.com/weather/64x64/night/296.png","code":1183},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":260,"wind_dir":"W","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.54,"precip_in":0.02,"humidity":87,"cloud":75,"feelslike_c":2.6,"feelslike_f":36.8,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":16.3,"gust_kph":26.3}}'
  recorded_at: Wed, 24 Apr 2024 00:44:00 GMT
recorded_with: VCR 6.2.0
