---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999943'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 16:46:05
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 36a0a9b2c67e0637140a05c36e0f43b3
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713804338,"localtime":"2024-04-22
        18:45"},"current":{"last_updated_epoch":1713804300,"last_updated":"2024-04-22
        18:45","temp_c":8.0,"temp_f":46.4,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":320,"wind_dir":"NW","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.1,"precip_in":0.0,"humidity":57,"cloud":25,"feelslike_c":6.2,"feelslike_f":43.1,"vis_km":10.0,"vis_miles":6.0,"uv":2.0,"gust_mph":15.0,"gust_kph":24.1}}'
  recorded_at: Mon, 22 Apr 2024 16:46:05 GMT
recorded_with: VCR 6.2.0
