---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999840'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 22:25:41
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c58884af865e2886a1b02e914b82017e
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713911019,"localtime":"2024-04-24
        0:23"},"current":{"last_updated_epoch":1713910500,"last_updated":"2024-04-24
        00:15","temp_c":6.0,"temp_f":42.8,"is_day":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/night/302.png","code":1189},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.75,"precip_in":0.03,"humidity":65,"cloud":75,"feelslike_c":3.4,"feelslike_f":38.0,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":10.6,"gust_kph":17.0}}'
  recorded_at: Tue, 23 Apr 2024 22:25:41 GMT
recorded_with: VCR 6.2.0
