---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=67.99,3.5689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999943'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 16:28:42
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d414998584373359abce0cef1e2bb00f
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Albuquerque","region":"New Mexico","country":"United
        States of America","lat":35.08,"lon":-106.65,"tz_id":"America/Denver","localtime_epoch":1713803201,"localtime":"2024-04-22
        10:26"},"current":{"last_updated_epoch":1713802500,"last_updated":"2024-04-22
        10:15","temp_c":15.0,"temp_f":59.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":190,"wind_dir":"S","pressure_mb":1021.0,"pressure_in":30.16,"precip_mm":0.0,"precip_in":0.0,"humidity":44,"cloud":25,"feelslike_c":13.8,"feelslike_f":56.9,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":12.9,"gust_kph":20.7},"forecast":{"forecastday":[{"date":"2024-04-22","date_epoch":1713744000,"day":{"maxtemp_c":25.7,"maxtemp_f":78.2,"mintemp_c":11.6,"mintemp_f":52.8,"avgtemp_c":18.2,"avgtemp_f":64.8,"maxwind_mph":18.6,"maxwind_kph":29.9,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":33,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":9.0},"astro":{"sunrise":"06:25
        AM","sunset":"07:46 PM","moonrise":"06:51 PM","moonset":"05:43 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":96,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1713765600,"time":"2024-04-22
        00:00","temp_c":14.1,"temp_f":57.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.7,"wind_kph":14.0,"wind_degree":131,"wind_dir":"SE","pressure_mb":1016.0,"pressure_in":30.02,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":44,"cloud":3,"feelslike_c":13.2,"feelslike_f":55.7,"windchill_c":13.2,"windchill_f":55.7,"heatindex_c":14.1,"heatindex_f":57.3,"dewpoint_c":1.7,"dewpoint_f":35.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":16.8,"gust_kph":27.0,"uv":1.0},{"time_epoch":1713769200,"time":"2024-04-22
        01:00","temp_c":13.4,"temp_f":56.0,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":7.4,"wind_kph":11.9,"wind_degree":128,"wind_dir":"SE","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":45,"cloud":3,"feelslike_c":12.5,"feelslike_f":54.4,"windchill_c":[...]
