---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=67.99,3.5689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999961'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 00:18:34
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - b0afed590afa4fea9e0741d9e1aea533
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Albuquerque","region":"New Mexico","country":"United
        States of America","lat":35.08,"lon":-106.65,"tz_id":"America/Denver","localtime_epoch":1713744993,"localtime":"2024-04-21
        18:16"},"current":{"last_updated_epoch":1713744000,"last_updated":"2024-04-21
        18:00","temp_c":21.7,"temp_f":71.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":10,"wind_dir":"N","pressure_mb":1020.0,"pressure_in":30.13,"precip_mm":0.0,"precip_in":0.0,"humidity":26,"cloud":25,"feelslike_c":21.7,"feelslike_f":71.1,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":10.0,"gust_kph":16.2},"forecast":{"forecastday":[{"date":"2024-04-21","date_epoch":1713657600,"day":{"maxtemp_c":22.5,"maxtemp_f":72.5,"mintemp_c":6.8,"mintemp_f":44.3,"avgtemp_c":14.6,"avgtemp_f":58.3,"maxwind_mph":13.0,"maxwind_kph":20.9,"totalprecip_mm":0.08,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":47,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":9.0},"astro":{"sunrise":"06:26
        AM","sunset":"07:45 PM","moonrise":"05:54 PM","moonset":"05:21 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":92,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1713679200,"time":"2024-04-21
        00:00","temp_c":11.8,"temp_f":53.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":7.4,"wind_kph":11.9,"wind_degree":74,"wind_dir":"ENE","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":57,"cloud":7,"feelslike_c":10.4,"feelslike_f":50.7,"windchill_c":10.4,"windchill_f":50.7,"heatindex_c":11.8,"heatindex_f":53.2,"dewpoint_c":3.6,"dewpoint_f":38.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":9.4,"gust_kph":15.1,"uv":1.0},{"time_epoch":1713682800,"time":"2024-04-21
        01:00","temp_c":10.6,"temp_f":51.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.7,"wind_kph":14.0,"wind_degree":79,"wind_dir":"E","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":60,"cloud":5,"feelslike_c":8.9,"feelslike_f":48.1,"windchill_c":8.9,[...]
