---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=67.99,3.5689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999840'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 22:25:29
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d273cd3a93718ce4c7626204d8917f27
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Albuquerque","region":"New Mexico","country":"United
        States of America","lat":35.08,"lon":-106.65,"tz_id":"America/Denver","localtime_epoch":1713911006,"localtime":"2024-04-23
        16:23"},"current":{"last_updated_epoch":1713910500,"last_updated":"2024-04-23
        16:15","temp_c":27.2,"temp_f":81.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":180,"wind_dir":"S","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"humidity":13,"cloud":50,"feelslike_c":25.4,"feelslike_f":77.7,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":9.3,"gust_kph":14.9}}'
  recorded_at: Tue, 23 Apr 2024 22:25:30 GMT
recorded_with: VCR 6.2.0
