---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=67.99,3.5689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999866'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 16:45:27
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 538b863ec1d975b058258d3c79210ded
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Albuquerque","region":"New Mexico","country":"United
        States of America","lat":35.08,"lon":-106.65,"tz_id":"America/Denver","localtime_epoch":1713890605,"localtime":"2024-04-23
        10:43"},"current":{"last_updated_epoch":1713889800,"last_updated":"2024-04-23
        10:30","temp_c":20.0,"temp_f":68.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"humidity":26,"cloud":25,"feelslike_c":20.0,"feelslike_f":68.0,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":5.9,"gust_kph":9.5}}'
  recorded_at: Tue, 23 Apr 2024 16:45:27 GMT
recorded_with: VCR 6.2.0
