---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=0&key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999840'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 22:25:42
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 75e65a3d685ac03f4696945307cf0b05
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713911020,"localtime":"2024-04-24
        0:23"},"current":{"last_updated_epoch":1713910500,"last_updated":"2024-04-24
        00:15","temp_c":6.0,"temp_f":42.8,"is_day":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/night/302.png","code":1189},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.75,"precip_in":0.03,"humidity":65,"cloud":75,"feelslike_c":3.4,"feelslike_f":38.0,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":10.6,"gust_kph":17.0},"forecast":{"forecastday":[{"date":"2024-04-24","date_epoch":1713916800,"day":{"maxtemp_c":8.2,"maxtemp_f":46.8,"mintemp_c":4.0,"mintemp_f":39.2,"avgtemp_c":5.8,"avgtemp_f":42.5,"maxwind_mph":14.5,"maxwind_kph":23.4,"totalprecip_mm":9.07,"totalprecip_in":0.36,"totalsnow_cm":0.0,"avgvis_km":8.9,"avgvis_miles":5.0,"avghumidity":84,"daily_will_it_rain":1,"daily_chance_of_rain":94,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":3.0},"astro":{"sunrise":"06:18
        AM","sunset":"08:43 PM","moonrise":"09:43 PM","moonset":"06:15 AM","moon_phase":"Full
        Moon","moon_illumination":100,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713909600,"time":"2024-04-24
        00:00","temp_c":5.3,"temp_f":41.6,"is_day":0,"condition":{"text":"Light drizzle","icon":"//cdn.weatherapi.com/weather/64x64/night/266.png","code":1153},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":259,"wind_dir":"W","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.49,"precip_in":0.02,"snow_cm":0.0,"humidity":90,"cloud":100,"feelslike_c":2.0,"feelslike_f":35.7,"windchill_c":2.0,"windchill_f":35.7,"heatindex_c":5.3,"heatindex_f":41.6,"dewpoint_c":3.9,"dewpoint_f":39.0,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":2.0,"vis_miles":1.0,"gust_mph":13.4,"gust_kph":21.6,"uv":1.0},{"time_epoch":1713913200,"time":"2024-04-24
        01:00","temp_c":6.0,"temp_f":42.8,"is_day":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/night/302.png","code":1189},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.75,"precip_in":0.03,"snow_cm":0.0,"humidity":65,"cloud":75,"feelslike_c":2.4,"feelslike_f":36.[...]
