---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=0&key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999943'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 16:46:06
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 157cfef5778be883481c6708bc1b9b66
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713804366,"localtime":"2024-04-22
        18:46"},"current":{"last_updated_epoch":1713804300,"last_updated":"2024-04-22
        18:45","temp_c":8.0,"temp_f":46.4,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":320,"wind_dir":"NW","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.1,"precip_in":0.0,"humidity":57,"cloud":25,"feelslike_c":6.2,"feelslike_f":43.1,"vis_km":10.0,"vis_miles":6.0,"uv":2.0,"gust_mph":15.0,"gust_kph":24.1},"forecast":{"forecastday":[{"date":"2024-04-22","date_epoch":1713744000,"day":{"maxtemp_c":9.5,"maxtemp_f":49.1,"mintemp_c":2.6,"mintemp_f":36.8,"avgtemp_c":6.0,"avgtemp_f":42.8,"maxwind_mph":8.3,"maxwind_kph":13.3,"totalprecip_mm":1.57,"totalprecip_in":0.06,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59,"daily_will_it_rain":1,"daily_chance_of_rain":85,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":3.0},"astro":{"sunrise":"06:22
        AM","sunset":"08:40 PM","moonrise":"07:16 PM","moonset":"05:52 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":96,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713736800,"time":"2024-04-22
        00:00","temp_c":3.6,"temp_f":38.4,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":27,"wind_dir":"NNE","pressure_mb":1026.0,"pressure_in":30.29,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":59,"cloud":19,"feelslike_c":1.6,"feelslike_f":34.9,"windchill_c":1.6,"windchill_f":34.9,"heatindex_c":3.6,"heatindex_f":38.4,"dewpoint_c":-3.6,"dewpoint_f":25.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.9,"gust_kph":14.4,"uv":1.0},{"time_epoch":1713740400,"time":"2024-04-22
        01:00","temp_c":3.1,"temp_f":37.6,"is_day":0,"condition":{"text":"Partly Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":31,"wind_dir":"NNE","pressure_mb":1026.0,"pressure_in":30.28,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":61,"cloud":39,"feelslike_c":1.3,"feelslike_f":34.3,"[...]
