---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=0&key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999969'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/21/2024 21:35:48
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 4e92e60610c5b9d4e90dce3bd767ca49
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713735227,"localtime":"2024-04-21
        23:33"},"current":{"last_updated_epoch":1713735000,"last_updated":"2024-04-21
        23:30","temp_c":2.0,"temp_f":35.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1025.0,"pressure_in":30.27,"precip_mm":0.0,"precip_in":0.0,"humidity":80,"cloud":0,"feelslike_c":-0.4,"feelslike_f":31.3,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":9.1,"gust_kph":14.6},"forecast":{"forecastday":[{"date":"2024-04-21","date_epoch":1713657600,"day":{"maxtemp_c":10.7,"maxtemp_f":51.3,"mintemp_c":2.9,"mintemp_f":37.3,"avgtemp_c":6.4,"avgtemp_f":43.5,"maxwind_mph":14.8,"maxwind_kph":23.8,"totalprecip_mm":1.14,"totalprecip_in":0.04,"totalsnow_cm":0.06,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":62,"daily_will_it_rain":1,"daily_chance_of_rain":98,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":4.0},"astro":{"sunrise":"06:24
        AM","sunset":"08:38 PM","moonrise":"06:06 PM","moonset":"05:42 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":92,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713650400,"time":"2024-04-21
        00:00","temp_c":4.7,"temp_f":40.4,"is_day":0,"condition":{"text":"Patchy rain
        nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":328,"wind_dir":"NNW","pressure_mb":1022.0,"pressure_in":30.17,"precip_mm":0.08,"precip_in":0.0,"snow_cm":0.0,"humidity":84,"cloud":74,"feelslike_c":1.3,"feelslike_f":34.4,"windchill_c":1.3,"windchill_f":34.4,"heatindex_c":4.7,"heatindex_f":40.4,"dewpoint_c":2.2,"dewpoint_f":35.9,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.0,"gust_kph":22.6,"uv":1.0},{"time_epoch":1713654000,"time":"2024-04-21
        01:00","temp_c":4.2,"temp_f":39.6,"is_day":0,"condition":{"text":"Light rain
        shower","icon":"//cdn.weatherapi.com/weather/64x64/night/353.png","code":1240},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":318,"wind_dir":"NW","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.33,"precip_in":0.01,"snow_cm":0.0,"humidity":85,"cloud":100,"feelslike_c":0.8,"feelslike_f[...]
