---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=0&key=6dca49a0a7334579b74231015241904&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999978'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/21/2024 01:56:20
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 359e1181613162ca394652c2c53f30de
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713664460,"localtime":"2024-04-21
        3:54"},"current":{"last_updated_epoch":1713663900,"last_updated":"2024-04-21
        03:45","temp_c":4.0,"temp_f":39.2,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":340,"wind_dir":"NNW","pressure_mb":1020.0,"pressure_in":30.12,"precip_mm":0.08,"precip_in":0.0,"humidity":93,"cloud":75,"feelslike_c":0.5,"feelslike_f":32.9,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":12.9,"gust_kph":20.7},"forecast":{"forecastday":[{"date":"2024-04-21","date_epoch":1713657600,"day":{"maxtemp_c":10.4,"maxtemp_f":50.8,"mintemp_c":2.3,"mintemp_f":36.1,"avgtemp_c":5.9,"avgtemp_f":42.6,"maxwind_mph":14.5,"maxwind_kph":23.4,"totalprecip_mm":1.21,"totalprecip_in":0.05,"totalsnow_cm":0.44,"avgvis_km":9.6,"avgvis_miles":5.0,"avghumidity":68,"daily_will_it_rain":1,"daily_chance_of_rain":96,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":4.0},"astro":{"sunrise":"06:24
        AM","sunset":"08:38 PM","moonrise":"06:06 PM","moonset":"05:42 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":92,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713650400,"time":"2024-04-21
        00:00","temp_c":4.5,"temp_f":40.1,"is_day":0,"condition":{"text":"Patchy rain
        nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":330,"wind_dir":"NNW","pressure_mb":1022.0,"pressure_in":30.18,"precip_mm":0.07,"precip_in":0.0,"snow_cm":0.0,"humidity":83,"cloud":79,"feelslike_c":1.0,"feelslike_f":33.8,"windchill_c":1.0,"windchill_f":33.8,"heatindex_c":4.5,"heatindex_f":40.1,"dewpoint_c":1.9,"dewpoint_f":35.4,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.0,"gust_kph":22.5,"uv":1.0},{"time_epoch":1713654000,"time":"2024-04-21
        01:00","temp_c":3.8,"temp_f":38.8,"is_day":0,"condition":{"text":"Patchy sleet
        nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/182.png","code":1069},"wind_mph":10.1,"wind_kph":16.2,"wind_degree":327,"wind_dir":"NNW","pressure_mb":1021.0,"pressure_in":30.16,"precip_mm":0.47,"precip_in":0.02,"snow_cm":0.0,"humidity":84,"cloud":88,"feelslike_c":0.1,"feelslik[...]
