---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=0&key=WEATHER_KEY&q=50.9898,6.8989
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999863'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 17:17:11
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 496937ec8a15d7bd0bfc4f9c038cf8d7
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Leverkusen","region":"Nordrhein-Westfalen","country":"Germany","lat":50.99,"lon":6.9,"tz_id":"Europe/Berlin","localtime_epoch":1713892509,"localtime":"2024-04-23
        19:15"},"current":{"last_updated_epoch":1713892500,"last_updated":"2024-04-23
        19:15","temp_c":9.0,"temp_f":48.2,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.01,"precip_in":0.0,"humidity":46,"cloud":0,"feelslike_c":7.1,"feelslike_f":44.8,"vis_km":10.0,"vis_miles":6.0,"uv":2.0,"gust_mph":11.5,"gust_kph":18.5},"forecast":{"forecastday":[{"date":"2024-04-23","date_epoch":1713830400,"day":{"maxtemp_c":11.2,"maxtemp_f":52.2,"mintemp_c":0.9,"mintemp_f":33.7,"avgtemp_c":6.3,"avgtemp_f":43.3,"maxwind_mph":9.8,"maxwind_kph":15.8,"totalprecip_mm":0.41,"totalprecip_in":0.02,"totalsnow_cm":0.0,"avgvis_km":9.7,"avgvis_miles":6.0,"avghumidity":56,"daily_will_it_rain":1,"daily_chance_of_rain":92,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":4.0},"astro":{"sunrise":"06:20
        AM","sunset":"08:42 PM","moonrise":"08:28 PM","moonset":"06:02 AM","moon_phase":"Full
        Moon","moon_illumination":99,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713823200,"time":"2024-04-23
        00:00","temp_c":2.9,"temp_f":37.2,"is_day":0,"condition":{"text":"Partly Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":51,"wind_dir":"NE","pressure_mb":1022.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":46,"feelslike_c":1.5,"feelslike_f":34.7,"windchill_c":1.5,"windchill_f":34.7,"heatindex_c":2.9,"heatindex_f":37.2,"dewpoint_c":-1.1,"dewpoint_f":29.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":5.9,"gust_kph":9.5,"uv":1.0},{"time_epoch":1713826800,"time":"2024-04-23
        01:00","temp_c":2.0,"temp_f":35.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1022.0,"pressure_in":30.17,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":20,"feelslike_c":0.9,"feelslike_f":33.6,"windchill_c":0.9,[...]
