---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999840'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 22:25:38
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 86fb1383cf5bf8142a597acc3056a0c0
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Paris","region":"Ile-de-France","country":"France","lat":48.86,"lon":2.35,"tz_id":"Europe/Paris","localtime_epoch":1713911016,"localtime":"2024-04-24
        0:23"},"current":{"last_updated_epoch":1713910500,"last_updated":"2024-04-24
        00:15","temp_c":7.0,"temp_f":44.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":300,"wind_dir":"WNW","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.16,"precip_in":0.01,"humidity":70,"cloud":0,"feelslike_c":4.6,"feelslike_f":40.2,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":10.7,"gust_kph":17.2}}'
  recorded_at: Tue, 23 Apr 2024 22:25:38 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999840'
      Cdn-Proxyv[...]
[...]
