---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999947'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 01:42:31
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e4d3f693b4c2a598a576e44ce4af3137
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Paris","region":"Ile-de-France","country":"France","lat":48.86,"lon":2.35,"tz_id":"Europe/Paris","localtime_epoch":1713750151,"localtime":"2024-04-22
        3:42"},"current":{"last_updated_epoch":1713749400,"last_updated":"2024-04-22
        03:30","temp_c":4.0,"temp_f":39.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":20,"wind_dir":"NNE","pressure_mb":1025.0,"pressure_in":30.27,"precip_mm":0.0,"precip_in":0.0,"humidity":87,"cloud":0,"feelslike_c":1.3,"feelslike_f":34.3,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":11.0,"gust_kph":17.7}}'
  recorded_at: Mon, 22 Apr 2024 01:42:31 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999947'
      Cdn-Proxyv[...]
[...]
