---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=WEATHER_KEY&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999943'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2024 16:28:49
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c0543583903263090eaca806dcb78dbb
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Paris","region":"Ile-de-France","country":"France","lat":48.86,"lon":2.35,"tz_id":"Europe/Paris","localtime_epoch":1713803207,"localtime":"2024-04-22
        18:26"},"current":{"last_updated_epoch":1713802500,"last_updated":"2024-04-22
        18:15","temp_c":10.0,"temp_f":50.0,"is_day":1,"condition":{"text":"Light rain","icon":"//cdn.weatherapi.com/weather/64x64/day/296.png","code":1183},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":350,"wind_dir":"N","pressure_mb":1023.0,"pressure_in":30.21,"precip_mm":0.0,"precip_in":0.0,"humidity":43,"cloud":37,"feelslike_c":7.8,"feelslike_f":46.0,"vis_km":10.0,"vis_miles":6.0,"uv":3.0,"gust_mph":12.2,"gust_kph":19.6}}'
  recorded_at: Mon, 22 Apr 2024 16:28:49 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_KEY&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999943'
      Cdn-Proxyv[...]
[...]
