---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=0&key=WEATHER_KEY&q=67.99,3.5689
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999793'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 00:43:48
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d959d7f2684d1be20281182dd6829d19
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Albuquerque","region":"New Mexico","country":"United
        States of America","lat":35.08,"lon":-106.65,"tz_id":"America/Denver","localtime_epoch":1713919435,"localtime":"2024-04-23
        18:43"},"current":{"last_updated_epoch":1713918600,"last_updated":"2024-04-23
        18:30","temp_c":27.0,"temp_f":80.6,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":160,"wind_dir":"SSE","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.0,"precip_in":0.0,"humidity":10,"cloud":0,"feelslike_c":25.2,"feelslike_f":77.4,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":16.3,"gust_kph":26.3},"forecast":{"forecastday":[{"date":"2024-04-23","date_epoch":1713830400,"day":{"maxtemp_c":27.6,"maxtemp_f":81.7,"mintemp_c":13.8,"mintemp_f":56.9,"avgtemp_c":21.2,"avgtemp_f":70.2,"maxwind_mph":11.0,"maxwind_kph":17.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":20,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":10.0},"astro":{"sunrise":"06:24
        AM","sunset":"07:47 PM","moonrise":"07:50 PM","moonset":"06:07 AM","moon_phase":"Full
        Moon","moon_illumination":99,"is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1713852000,"time":"2024-04-23
        00:00","temp_c":17.7,"temp_f":63.9,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":11.0,"wind_kph":17.6,"wind_degree":197,"wind_dir":"SSW","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":24,"cloud":40,"feelslike_c":17.7,"feelslike_f":63.9,"windchill_c":17.7,"windchill_f":63.9,"heatindex_c":17.7,"heatindex_f":63.9,"dewpoint_c":-2.7,"dewpoint_f":27.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":22.5,"gust_kph":36.3,"uv":1.0},{"time_epoch":1713855600,"time":"2024-04-23
        01:00","temp_c":16.9,"temp_f":62.4,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.1,"wind_kph":16.2,"wind_degree":208,"wind_dir":"SSW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":25,"cloud":18,"feelslike_c":16.9,"feelslike_f":62.4,"windchill_[...]
